@font-face {
    font-family: 'GreatVibes';
    src: url(./fonts/GreatVibes-Regular.woff2) format(woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'PoiretOne';
    src: url(./fonts/PoiretOne.woff2) format(woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

*{
    padding: 0;
    margin: 0;
}

.box-1 {
    height: 100vh;
    background-color: bisque;
    Position: relative;
    background-image: url();
}

.TS {
    font-size: 5.7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'GreatVibes', sans-serif;
    margin-bottom: 70px;
}

.name {
    font-size: 5.7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'GreatVibes', sans-serif;
}

.dd {
    font-size: 6.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-family: 'GreatVibes', sans-serif;
}

.M {
   font-size: 4vw;
   float: left;
   text-transform: uppercase;
   writing-mode: vertical-rl;
   Position: absolute;
   top: 0;
   left: 0;
}

.K {
    font-size: 4vw;
    float: right;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    Position: absolute;
    right: 0;
    bottom: 0;
}

.box-2 {
    height: 100vh;
    background-color: bisque;
    position: relative;
    background-image: url();
}

.guests {
    font-size: 4.25vw;
    font-family: 'GreatVibes', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 20px;
}

.text {
    font-family: 'PoiretOne', sans-serif;
    font-size: 2.3vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dress-code {
    font-family: 'GreatVibes', sans-serif;
    font-size: 3.87vw;
    text-align: center;
    margin-top: 70px;
}

.up-code {
font-family: 'PoiretOne', sans-serif;
font-size: 2vw;
text-align: center;
text-transform: none;
border: 1px solid black;
}

.text-code {
    font-family: 'PoiretOne', sans-serif;
    text-transform: none;
    text-align: left;
    font-size: 2.3vw;
}

.img {
    width: 270px;
    aspect-ratio: 1;
    border-radius: 20px;
    background-size: cover;
}

.imgz {
    display: flex;
    justify-content: space-between;
}

.img1 {
    float: left;
    Position: absolute;
    top: 0;
    left: 0;
    margin-left: 30px;
    margin-top: 30px;
}

.img2 {
    float: right;
    Position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 30px;
    margin-right: 30px;
}

.box-3 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url();
    background-color: bisque;
}

.box-4 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.87vw;
    background-image: url();
    background-color: bisque;
    
}

.dni {
    margin-top: 20px;
    margin-bottom: 20px;
}

.dat {
font-family: 'GreatVibes', sans-serif;
margin-top: 10px;
font-size: 6.25vw;
}

.ost {
    padding: 20px;
    text-align: center;
}

.gray {
    color: gray;
}

.owned {
background: url(./icons/heart.svg) center/contain no-repeat;
height: 35px;
aspect-ratio: 1;
color: white;
}

.graf {
padding: 10px;
border: 1px solid black;
font-family: 'GreatVibes', sans-serif;
display: flex;
font-size: 6.25vw;
flex-direction: column;
padding-top: 20px;
margin-bottom: 20px;
}

.icon {
    width: 80px;
    aspect-ratio: 1;
    margin: 20px;
}

.box-5 {
height: 100vh;
 background-image: url();
 background-color: bisque;
}

.torjestv {
font-family: 'GreatVibes', sans-serif;
font-size: 5.25vw;
padding: 30px;
display: flex;
justify-content: center;
align-items: center;
}

.map {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding-bottom: 20px;
}

.text2 {
    font-family: 'PoiretOne', sans-serif;
    font-size: 1.20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.ave {
    font-family: 'PoiretOne', sans-serif;
    font-size: 1.50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.otstup {   
 display: flex;
 align-items: center;
 font-size: 2.87vw;
}

@media (max-width: 1068px) {
    .img {
        width: 230px;
        aspect-ratio: 1;
    }

}

@media (max-width: 881px) {
    .img {
        width: 190px;
        aspect-ratio: 1;
    }
}

@media (max-width: 767px) {

    .TS {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .icon {
    width: 30px;
    }

    .name {
        font-size: 30px;
    }

    .dd {
        font-size: 30px;
        margin-top: 40px;
    }
    
    .kalendar {
        height: 20px;
        aspect-ratio: 1;
        margin: 0 5px;
    }

    .M {
        font-size: 16px;
     }
     
     .K {
         font-size: 16px;
     }

     .guests {
        font-size: 30px;
        padding-top: 20px;
        margin-bottom: 20px;
    }

    .dress-code {
        font-size: 30px;
    }

    .up-code {
        font-size: 20px;
    }

    .text-code {
        font-size: 16px;
    }
    
    .text {
        font-size: 16px;
    }
    
    .dnii {
        font-size: 16px;
    }

    .dat {
    margin-top: 5px;
    font-size: 30px;
    }

    .ost {
        padding: 5px;
    }

    .owned {
        height: 15px;
    }

    .graf {
        font-size: 30px;
        margin-bottom: 20px;
        }

    .torjestv {
            font-size: 25px;
            padding: 10px;
        }

    .text2 {
            font-size: 16px;

        }
        
    .ave {
            font-size: 16px;
        }


    .map2 {
        width: 500px;
        aspect-ratio: 1;
        margin-bottom: 10px;
    }

    .map {
        margin-top: 10px;
    }

    .img-wrapper {
    margin-top: 10px;
}

    .dni {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .img {
        width: 150px;
        aspect-ratio: 1;
    }

}

@media (max-width: 636px) {
    .map2 {
        width: 400px;
        aspect-ratio: 1;
    }

    .img {
        position: unset;
        display: flex;
    }
    
    .img1 {
        margin: 10px;
    }

    .img2 {
        margin: 10px;
    }

@media (max-width: 424px) {
    .map2 {
        width: 300px;
        aspect-ratio: 1;
    }
}

